<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MoteurClassiqueSemantique</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>adserv</servlet-name>
    <servlet-class>web.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv2</servlet-name>
    <servlet-class>web.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv3</servlet-name>
    <servlet-class>web.AjoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv4</servlet-name>
    <servlet-class>web.SuppServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv5</servlet-name>
    <servlet-class>web.EvalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv6</servlet-name>
    <servlet-class>web.EvalServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv7</servlet-name>
    <servlet-class>web.ResultatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adserv8</servlet-name>
    <servlet-class>web.EvaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adserv</servlet-name>
    <url-pattern>/Ad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adserv2</servlet-name>
    <url-pattern>/Rech</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adserv3</servlet-name>
    <url-pattern>/Ajs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adserv4</servlet-name>
    <url-pattern>/Ss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adserv5</servlet-name>
    <url-pattern>/Ev</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adserv6</servlet-name>
    <url-pattern>/Ev2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adserv7</servlet-name>
    <url-pattern>/Res</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>adserv8</servlet-name>
    <url-pattern>/Evaluation</url-pattern>
  </servlet-mapping>
</web-app>